{% extends 'base.html.twig' %}

{% block title %}PingPong - Leaderboard{% endblock %}

{% block body %}
    <div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card alert-secondary">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-9 my-auto"><p class="card-text h5">Retourner à l'accueil et commencer une
                                nouvelle partie pour contester les champions
                            </p></div>
                        <div class="col-3 "><a href="{{ path('home') }}" class="btn btn-secondary btn-block">Y aller
                                ...</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            {% if app.user %}
                <div class="row">
                    <div class="col-md-6 my-auto ml-2"><h2
                                class="card-title">{{ app.user.fullName }}</h2>
                    </div>
                    <div class="col-md-5 my-auto text-right"><h5 class="card-title ">Membre depuis
                            le {{ app.user.createdAt | date('d/m/Y') }}</h5></div>
                    <div class="col-md-1"></div>

                </div>
                <hr>
            {% endif %}
            <div class="row">
                <div class="col-md-12 my-auto text-center"><h2
                            class="card-title"><i class="fad fa-award text-warning"></i> Hall of Fame <i
                                class="fad fa-award text-warning"></i>
                    </h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="card-columns ml-3 mr-3">
                    {# <div class="col-6 mb-3"> #}
                    <div class="card alert-success">
                        <div class="card-body">
                            <h5 class="card-title">Matchs : </h5>
                            <p class="card-text">
                                {% if playerMatchs is not same as(null) %}
                                    Le plus grand nombre de matchs joués : <span
                                        class="h6">{{ playerMatchs.matchPlayed }} {% if app.user %}{% if app.user.fullName==playerMatchs.fullName %}
                                        <span class="text-danger">({{ playerMatchs.fullName }})</span>
                                    {% else %}
                                        ({{ playerMatchs.fullName }})
                                    {% endif %}
                                    {% else %}
                                        ({{ playerMatchs.fullName }})
                                    {% endif %}</span>
                                {% else %}
                                    Le plus grand nombre de matchs joués : n/a
                                {% endif %}
                                <br>
                                {% if playerMatchsWon is not same as(null) %}
                                    Le plus grand nombre de victoires : <span
                                        class="h6">{{ playerMatchsWon.matchWon }} {% if app.user %}{% if app.user.fullName==playerMatchsWon.fullName %}
                                        <span class="text-danger">({{ playerMatchsWon.fullName }})</span>
                                    {% else %}
                                        ({{ playerMatchsWon.fullName }})
                                    {% endif %}
                                    {% else %}
                                        ({{ playerMatchsWon.fullName }})
                                    {% endif %}</span>
                                {% else %}
                                    Le plus grand nombre de victoires : n/a
                                {% endif %}
                                <br>
                                {% if playerMatchsLost is not same as(null) %}
                                    Le plus grand nombre de défaites : <span
                                        class="h6">{{ playerMatchsLost.matchLost }} {% if app.user %}{% if app.user.fullName==playerMatchsLost.fullName %}
                                        <span class="text-danger">({{ playerMatchsLost.fullName }})</span>
                                    {% else %}
                                        ({{ playerMatchsLost.fullName }})
                                    {% endif %}
{% else %}
                                        ({{ playerMatchsLost.fullName }})
                                    {% endif %}</span>
                                {% else %}
                                    Le plus grand nombre de défaites : n/a
                                {% endif %}
                                <br>
                                {% if playerMatchsLost is not same as(null) %}
                                    Joueur ayant le plus de victoires en 2 points d'écart : <span
                                        class="h6">A ajouter</span>
                                    <br>
                                    Joueur ayant le plus de défaites en 2 points d'écart : <span
                                        class="h6">A ajouter</span>
                                    <br>
                                {% endif %}
                                {% if playerMatchsRatio is not same as(null) %}
                                    Joueur ayant le meilleur ratio Victoires / Défaites : <span
                                        class="h6">{{ playerMatchsRatio.matchRatio | number_format(2, ',', ' ') }} {% if app.user %}{% if app.user.fullName==playerMatchsRatio.fullName %}
                                        <span class="text-danger">({{ playerMatchsRatio.fullName }})</span>
                                    {% else %}
                                        ({{ playerMatchsRatio.fullName }})
                                    {% endif %}
{% else %}
                                        ({{ playerMatchsRatio.fullName }})
                                    {% endif %}</span>
                                {% else %}
                                    Joueur ayant le meilleur ratio Victoires / Défaites : n/a
                                {% endif %}

                                <br>
                                {% if playerMatchPointsOf11 is not same as(null) %}
                                    Joueur ayant la meilleure moyenne de points (matchs en 11) : <span
                                        class="h6">{{ playerMatchPointsOf11.matchAveragePointsOf11 | number_format(2, ',', ' ') }} {% if app.user %}{% if app.user.fullName==playerMatchPointsOf11.fullName %}
                                        <span class="text-danger">({{ playerMatchPointsOf11.fullName }})</span>
                                    {% else %}
                                        ({{ playerMatchPointsOf11.fullName }})
                                    {% endif %}
{% else %}
                                        ({{ playerMatchPointsOf11.fullName }})
                                    {% endif %}</span>
                                {% else %}
                                    Joueur ayant la meilleure moyenne de points (matchs en 11) : n/a
                                {% endif %}
                                <br>
                                {% if playerMatchPointsOf21 is not same as(null) %}
                                    Joueur ayant la meilleure moyenne de points (matchs en 21) : <span
                                        class="h6">{{ playerMatchPointsOf21.matchAveragePointsOf21 | number_format(2, ',', ' ') }} {% if app.user %}{% if app.user.fullName==playerMatchPointsOf21.fullName %}
                                        <span class="text-danger">({{ playerMatchPointsOf21.fullName }})</span>
                                    {% else %}
                                        ({{ playerMatchPointsOf21.fullName }})
                                    {% endif %}
{% else %}
                                        ({{ playerMatchPointsOf21.fullName }})
                                    {% endif %}</span>
                                {% else %}
                                    Joueur ayant la meilleure moyenne de points (matchs en 21) : n/a
                                {% endif %}

                            </p>
                        </div>

                    </div>
                    <div class="card alert-info">
                        <div class="card-body">
                            <h5 class="card-title">Tournois :</h5>
                            <p class="card-text">

                                {% if playerTournaments is not same as(null) %}
                                    Le plus grand nombre de tournois joués : <span
                                        class="h6">{{ playerTournaments.tournamentPlayed }} {% if app.user %}{% if app.user.fullName==playerTournaments.fullName %}
                                        <span class="text-danger">({{ playerTournaments.fullName }})</span>
                                    {% else %}
                                        ({{ playerTournaments.fullName }})
                                    {% endif %}
                                    {% else %}
                                        ({{ playerTournaments.fullName }})
                                    {% endif %}</span>
                                {% else %}
                                    Le plus grand nombre de tournois joués : n/a
                                {% endif %}
                                <br>
                                {% if playerTournamentsWon is not same as(null) %}
                                    Le plus grand nombre de tournois remportés : <span
                                        class="h6">{{ playerTournamentsWon.tournamentWon }} {% if app.user %}{% if app.user.fullName==playerTournamentsWon.fullName %}
                                        <span class="text-danger">({{ playerTournamentsWon.fullName }})</span>
                                    {% else %}
                                        ({{ playerTournamentsWon.fullName }})
                                    {% endif %}
                                    {% else %}
                                        ({{ playerTournamentsWon.fullName }})
                                    {% endif %}</span>
                                {% else %}
                                    Le plus grand nombre de tournois remportés : n/a
                                {% endif %}
                                <br>
                                {% if playerTournamentsAverage is not same as(null) %}
                                    Le joueur ayant la meilleure moyenne de classement : <span
                                        class="h6">{{ playerTournamentsAverage.tournamentAveragePlacement |  number_format(2, ',', ' ') }} {% if app.user %}{% if app.user.fullName==playerTournamentsAverage.fullName %}
                                        <span class="text-danger">({{ playerTournamentsAverage.fullName }})</span>
                                    {% else %}
                                        ({{ playerTournamentsAverage.fullName }})
                                    {% endif %}
                                    {% else %}
                                        ({{ playerTournamentsAverage.fullName }})
                                    {% endif %}</span>
                                {% else %}
                                    Le joueur ayant la meilleure moyenne de classement : n/a
                                {% endif %}

                            </p>
                        </div>
                    </div>


                    <div class="card alert-warning">
                        <div class="card-body">
                            <h5 class="card-title">Raquettes d'or :</h5>
                            <p class="card-text">
                                {% if playerGoldenRackets is not same as(null) %}
                                    Le plus grand nombre de raquettes d'or jouées : <span
                                        class="h6">{{ playerGoldenRackets.goldenRacketPlayed }} {% if app.user %}{% if app.user.fullName==playerGoldenRackets.fullName %}
                                        <span class="text-danger">({{ playerGoldenRackets.fullName }})</span>
                                    {% else %}
                                        ({{ playerGoldenRackets.fullName }})
                                    {% endif %}
                                    {% else %}
                                        ({{ playerGoldenRackets.fullName }})
                                    {% endif %}</span>
                                {% else %}
                                    Le plus grand nombre de raquettes d'or jouées : n/a
                                {% endif %}
                                <br>
                                {% if playerGoldenRacketsWon is not same as(null) %}
                                    Le plus grand nombre de raquettes d'or remportées : <span
                                        class="h6">{{ playerGoldenRacketsWon.goldenRacketWon }} {% if app.user %}{% if app.user.fullName==playerGoldenRacketsWon.fullName %}
                                        <span class="text-danger">({{ playerGoldenRacketsWon.fullName }})</span>
                                    {% else %}
                                        ({{ playerGoldenRacketsWon.fullName }})
                                    {% endif %}
                                    {% else %}
                                        ({{ playerGoldenRacketsWon.fullName }})
                                    {% endif %}</span>
                                {% else %}
                                    Le plus grand nombre de raquettes d'or remportées : n/a
                                {% endif %}
                                <br>
                                {% if playerGoldenRacketsAverage is not same as(null) %}
                                    Le joueur ayant la meilleure moyenne de classement : <span
                                        class="h6">{{ playerGoldenRacketsAverage.goldenRacketAveragePlacement |  number_format(2, ',', ' ') }} {% if app.user %}{% if app.user.fullName==playerGoldenRacketsAverage.fullName %}
                                        <span class="text-danger">({{ playerGoldenRacketsAverage.fullName }})</span>
                                    {% else %}
                                        ({{ playerGoldenRacketsAverage.fullName }})
                                    {% endif %}
                                    {% else %}
                                        ({{ playerGoldenRacketsAverage.fullName }})
                                    {% endif %}</span>
                                {% else %}
                                    Le joueur ayant la meilleure moyenne de classement : n/a
                                {% endif %}

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}