{% extends 'base.html.twig' %}

{% block title %}PingPong - {{ player.fullName }}{% endblock %}

{% block body %}
<div class="row ml-3 mr-3 mt-5 mb-3 ">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-stats-tab" data-toggle="pill" href="#v-pills-stats"
               role="tab"
               aria-controls="v-pills-stats" aria-selected="true">Stats</a>
            <a class="nav-link" id="v-pills-participation-tab" data-toggle="pill" href="#v-pills-participation"
               role="tab" aria-controls="v-pills-participation" aria-selected="false">Participations</a>
            <a class="nav-link" id="v-pills-success-tab" data-toggle="pill" href="#v-pills-success" role="tab"
               aria-controls="v-pills-success" aria-selected="false">Succès</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
               aria-controls="v-pills-settings" aria-selected="false">Paramètres</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-stats" role="tabpanel"
                 aria-labelledby="v-pills-stats-tab">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 my-auto ml-2"><h2
                                            class="card-title">{{ player.fullName }}</h2>
                                </div>
                                <div class="col-md-5 my-auto text-right"><h5 class="card-title ">Membre depuis
                                        le {{ player.createdAt | date('d/m/Y') }}</h5></div>
                                <div class="col-md-1"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="card-columns ml-3 mr-3">
                                    {# <div class="col-6 mb-3"> #}
                                    <div class="card alert-success">
                                        <div class="card-body">
                                            <h5 class="card-title">Matchs : </h5>
                                            <p class="card-text">
                                                {% if player.matchPlayed != [] %}
                                                Nombre de matchs joués : <span
                                                        class="h6">{{ player.matchPlayed }}</span>
                                                {% else %}
                                                    Nombre de matchs joués : n/a
                                                {% endif %}
                                                <br>
                                                {% if player.matchWon != [] %}
                                                Victoires : <span class="h6">{{ player.matchWon }}</span>
                                                {% else %}
                                                    Victoires : n/a
                                                {% endif %}
                                                <br>
                                                {% if player.matchLost != [] %}
                                                Défaites : <span class="h6">{{ player.matchLost }}</span>
                                                {% else %}
                                                    Défaites : n/a
                                                {% endif %}
                                                <br>
                                                {#{% if player.matchPlayed != [] %}
                                                Victoires en 2 points d'écart : <span
                                                        class="h6">{{ player.matchLost }}</span>
                                                <br>
                                                {% if player.matchPlayed != [] %}
                                                Défaites en 2 points d'écart : <span
                                                        class="h6">{{ player.matchLost }}</span>
                                                <br>#}
                                                {% if player.matchRatio != [] %}
                                                Ratio Victoires / Défaites : <span
                                                        class="h6">{{ player.matchRatio | number_format(2, ',', ' ') }}</span>
                                                {% else %}
                                                    Ratio Victoires / Défaites : n/a
                                                {% endif %}
                                                <br>
                                                {% if player.matchAveragePointsOf11 != [] %}
                                                Moyenne de points (matchs en 11) : <span
                                                        class="h6">{{ player.matchAveragePointsOf11 | number_format(2, ',', ' ') }}</span>
                                                {% else %}
                                                    Moyenne de points (matchs en 11) : n/a
                                                {% endif %}
                                                <br>
                                                {% if player.matchAveragePointsOf21 != [] %}
                                                Moyenne de points (matchs en 21) : <span
                                                        class="h6">{{ player.matchAveragePointsOf21 | number_format(2, ',', ' ') }}</span>
                                                {% else %}
                                                    Moyenne de points (matchs en 21) : n/a
                                                {% endif %}

                                            </p>
                                        </div>

                                    </div>
                                    {# <div class="col-6 mb-3"> #}
                                    <div class="card alert-info">
                                        <div class="card-body">
                                            <h5 class="card-title">Tournois :</h5>
                                            <p class="card-text">

                                                {% if player.tournamentPlayed != [] %}
                                                    Nombre de tournois joués : <span
                                                        class="h6">{{ player.tournamentPlayed }}</span>
                                                {% else %}
                                                    Nombre de tournois joués : n/a
                                                {% endif %}
                                                <br>
                                                {% if player.tournamentWon != [] %}
                                                    Victoires : <span class="h6">{{ player.tournamentWon }}</span>
                                                {% else %}
                                                    Victoires : n/a
                                                {% endif %}
                                                <br>
                                                {% if player.tournamentAveragePlacement != [] %}
                                                    Moyenne de placement : <span
                                                        class="h6">{{ player.tournamentAveragePlacement | number_format(2, ',', ' ') }}</span>
                                                {% else %}
                                                    Moyenne de placement : n/a
                                                {% endif %}

                                            </p>
                                        </div>
                                    </div>
                                    {#<div class="col-6 mb-3">#}
                                        <div class="card alert-warning">
                                            <div class="card-body">
                                                <h5 class="card-title">Raquettes d'or :</h5>
                                                <p class="card-text">
                                                    {% if player.goldenRacketPlayed != [] %}
                                                        Nombre de Raquettes d'or joués : <span
                                                            class="h6">{{ player.goldenRacketPlayed }}</span>
                                                    {% else %}
                                                        Nombre de Raquettes d'or joués : n/a
                                                    {% endif %}
                                                    <br>
                                                    {% if player.goldenRacketWon != [] %}
                                                        Victoires : <span class="h6">{{ player.goldenRacketWon }}</span>
                                                    {% else %}
                                                        Victoires : n/a
                                                    {% endif %}
                                                    <br>
                                                    {% if player.goldenRacketAveragePlacement != [] %}
                                                        Moyenne de placement : <span
                                                            class="h6">{{ player.goldenRacketAveragePlacement | number_format(2, ',', ' ') }}</span>
                                                    {% else %}
                                                        Moyenne de placement : n/a
                                                    {% endif %}

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-participation" role="tabpanel"
                     aria-labelledby="v-pills-participation-tab">
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 my-auto ml-2"><h2
                                                class="card-title">{{ player.fullName }}</h2>
                                    </div>
                                    <div class="col-md-5 my-auto text-right"><h5 class="card-title ">Membre depuis
                                            le {{ player.createdAt | date('d/m/Y') }}</h5></div>
                                    <div class="col-md-1"></div>
                                </div>
                                <hr>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="matchs-tab" data-toggle="tab" href="#home" role="tab"
                                           aria-controls="home" aria-selected="true">Matchs</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="tournois-tab" data-toggle="tab" href="#profile" role="tab"
                                           aria-controls="profile" aria-selected="false">Tournois</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="raquette-tab" data-toggle="tab" href="#contact" role="tab"
                                           aria-controls="contact" aria-selected="false">Raquette d'or</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="matchs-tab">

                                        <div class="card alert-success">
                                            <div class="card-body">
                                                <h1 class="card-title">Liste des matchs :</h1>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="card-text">
                                                                    <div class="list-group">
                                                                        {% for game in games %}
                                                                            <div class="list-group-item list-group-item-action">
                                                                                <div class="row">
                                                                                    <div class="col-md-9 ">
                                                                                        <a class="text-decoration-none"
                                                                                           href="{{ path('detail',{'id':game.id}) }}">
                                                                                            <h5 class="mb-1">
                                                                                                {% set show = 1 %}
                                                                                                {% for jouer in jouers %}
                                                                                                    {% if jouer.game == game %}
                                                                                                        {% if jouer.isWinner == true and show == 1 %}
                                                                                                            <span class="badge badge-secondary"><i
                                                                                                                        class="fas fa-crown"></i></span>
                                                                                                        {% endif %}
                                                                                                        {{ jouer.player.fullName }}
                                                                                                        {% if jouer.isWinner == true and show == 0 %}
                                                                                                            <span class="badge badge-secondary"><i
                                                                                                                        class="fas fa-crown"></i></span>
                                                                                                        {% endif %}
                                                                                                        {% set show = show+1 %}
                                                                                                    {% endif %}
                                                                                                    {% if show == 2 %}
                                                                                                        <span class="badge badge-secondary">VS</span>
                                                                                                        {% set show = 0 %}
                                                                                                    {% endif %}
                                                                                                {% endfor %}
                                                                                                ( {{ game.scoreP1 }} - {{ game.scoreP2 }} )
                                                                                            </h5>
                                                                                        </a>

                                                                                        {# <p class="mb-1">{{ ticket.description  | u.truncate(50, '...', false) }}</p> #}
                                                                                        {# <small>Posté par <a
                                                                        href="{{ path('profil',{'id':ticket.user.id}) }}">{{ ticket.user.firstName }} {{ ticket.user.lastName }}</a>
                                                            </small> #}

                                                                                    </div>

                                                                                    <div class="col-md-3">
                                                                                        <div class="col-md-12 text-right">
                                                                                            {% set date = game.playedAt | date %}
                                                                                            <small class="">{{ date|ago }}</small>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="tournois-tab">
                                      b
                                    </div>


                                    <div class="tab-pane fade show" id="contact" role="tabpanel" aria-labelledby="raquette-tab">
                                        c
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-success" role="tabpanel"
                     aria-labelledby="v-pills-success-tab">
                    ...
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                     aria-labelledby="v-pills-settings-tab">
                    ...
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
