{% extends 'base.html.twig' %}

{% block title %}PingPong - Accueil{% endblock %}

{% block body %}
    <div class="container mt-5">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="matchs-tab" data-toggle="tab" href="#home" role="tab"
                   aria-controls="home" aria-selected="true">Matchs</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tournois-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">Tournois</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="raquette-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact" aria-selected="false">Raquette d'or</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="matchs-tab">
                <div class="mt-3">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="card alert-success">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9"><h1 class="card-title">
                                                Nouveau Match
                                            </h1>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius,
                                                provident.
                                            </p>
                                        </div>
                                        <div class="col-3 my-auto">
                                            <a href="{{ path('chooseP1') }}" class="btn btn-success">Commencer un
                                                match</a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Historique des matchs</h5>
                                    <hr>
                                    <div class="card-text">
                                        <div class="list-group {{ games|length>3 ? "dashboard" : "" }}">
                                            {% for game in games %}

                                                <div class="list-group-item list-group-item-action">
                                                    <div class="row">
                                                        <div class="col-md-9 ">

                                                            <a href="{# {{ path('detail',{'id':ticket.id}) }} #}">
                                                                <h5 class="mb-1">
                                                                    {% set show = 1 %}
                                                                    {% for jouer in jouers %}
                                                                        {% if jouer.game == game %}
                                                                            {{ jouer.player.fullName }}
                                                                            {% set show = show+1 %}
                                                                        {% endif %}
                                                                        {% if show == 2 %}
                                                                            VS
                                                                            {% set show = 0 %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    ( {{ game.scoreP1 }} - {{ game.scoreP2 }} )
                                                                </h5>
                                                            </a>

                                                            {# <p class="mb-1">{{ ticket.description  | u.truncate(50, '...', false) }}</p> #}
                                                            {# <small>Posté par <a
                                                                        href="{{ path('profil',{'id':ticket.user.id}) }}">{{ ticket.user.firstName }} {{ ticket.user.lastName }}</a>
                                                            </small> #}

                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="col-md-12 text-right">
                                                                {% set date = game.playedAt | date %}
                                                                <small class="">{{ date|ago }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% if allGames | length > 6 %}

                                                <div class="list-group-item list-group-item-action">
                                                    <div class="row">
                                                        <h5><a class="ml-3" href="{{ path('games') }}">Voir plus
                                                                >></a></h5>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    {% if app.user %}
                                        <h1 class="card-title">{{ player.fullName }}</h1>
                                        <p class="card-text">{% if player.matchWon != [] %}
                                                Victoires : {{ player.matchWon }}
                                            {% else %}
                                                Victoires : n/A
                                            {% endif %} |
                                            {% if player.matchLost != [] %}
                                                Défaites : {{ player.matchLost }}
                                            {% else %}
                                                Défaites : n/A
                                            {% endif %}

                                            <br>
                                            {% if player.matchPlayed != [] %}
                                                Match Joués : {{ player.matchPlayed }}
                                            {% else %}
                                                Match Joués : n/A
                                            {% endif %} |
                                            {% if player.matchRatio != [] %}
                                                Ratio G/P : {{ player.matchRatio }}
                                            {% else %}
                                                Ratio G/P : n/A
                                            {% endif %}
                                        <hr>
                                        {% if player.matchAveragePointsOf11 != [] %}
                                            Moyenne de points (match en 11) : {{ player.matchAveragePointsOf11 }}
                                        {% else %}
                                            Moyenne de points (match en 11) : n/A
                                        {% endif %}
                                        {% if player.matchAveragePointsOf21 != [] %}
                                            Moyenne de points (match en 21) : {{ player.matchAveragePointsOf21 }}
                                        {% else %}
                                            Moyenne de points (match en 21) : n/A
                                        {% endif %}
                                        </p>
                                    {% else %}

                                        <div class="row">
                                            <div class="col-12"><h5 class="card-title">Pour avoir accès au statistiques : </h5></div>
                                            <div class="col-2"></div>
                                            <div class="col-8 text-center mt-5 mb-5">
                                                <a href="{{ path('app_login') }}"
                                                   class="btn btn-primary btn-block text-white my-auto">Connexion</a>
                                            </div>
                                            <div class="col-2"></div>
                                        </div>


                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="tournois-tab">
                <div class="mt-3">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="card alert-info">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9"><h1 class="card-title">
                                                Nouveau Tournoi
                                            </h1>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, labore.
                                            </p>
                                        </div>
                                        <div class="col-3 my-auto">
                                            <a href="{{ path('chooseP1') }}" class="btn btn-info">Commencer un
                                                tournoi</a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Historique des matchs</h5>
                                    <hr>
                                    <div class="card-text">
                                        <div class="list-group {{ games|length>3 ? "dashboard" : "" }}">
                                            {% for game in games %}

                                                <div class="list-group-item list-group-item-action">
                                                    <div class="row">
                                                        <div class="col-md-9 ">

                                                            <a href="{# {{ path('detail',{'id':ticket.id}) }} #}">
                                                                <h5 class="mb-1">
                                                                    {% set show = 1 %}
                                                                    {% for jouer in jouers %}
                                                                        {% if jouer.game == game %}
                                                                            {{ jouer.player.fullName }}
                                                                            {% set show = show+1 %}
                                                                        {% endif %}
                                                                        {% if show == 2 %}
                                                                            VS
                                                                            {% set show = 0 %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    ( {{ game.scoreP1 }} - {{ game.scoreP2 }} )
                                                                </h5>
                                                            </a>

                                                            {# <p class="mb-1">{{ ticket.description  | u.truncate(50, '...', false) }}</p> #}
                                                            {# <small>Posté par <a
                                                                        href="{{ path('profil',{'id':ticket.user.id}) }}">{{ ticket.user.firstName }} {{ ticket.user.lastName }}</a>
                                                            </small> #}

                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="col-md-12 text-right">
                                                                {% set date = game.playedAt | date %}
                                                                <small class="">{{ date|ago }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% if allGames | length > 6 %}

                                                <div class="list-group-item list-group-item-action">
                                                    <div class="row">
                                                        <h5><a class="ml-3" href="{{ path('games') }}">Voir plus
                                                                >></a></h5>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    {% if app.user %}
                                        <h1 class="card-title">{{ player.fullName }}</h1>
                                        <p class="card-text">{% if player.matchWon != [] %}
                                                Victoires : {{ player.matchWon }}
                                            {% else %}
                                                Victoires : n/A
                                            {% endif %} |
                                            {% if player.matchLost != [] %}
                                                Défaites : {{ player.matchLost }}
                                            {% else %}
                                                Défaites : n/A
                                            {% endif %}

                                            <br>
                                            {% if player.matchPlayed != [] %}
                                                Match Joués : {{ player.matchPlayed }}
                                            {% else %}
                                                Match Joués : n/A
                                            {% endif %} |
                                            {% if player.matchRatio != [] %}
                                                Ratio G/P : {{ player.matchRatio }}
                                            {% else %}
                                                Ratio G/P : n/A
                                            {% endif %}
                                        <hr>
                                        {% if player.matchAveragePointsOf11 != [] %}
                                            Moyenne de points (match en 11) : {{ player.matchAveragePointsOf11 }}
                                        {% else %}
                                            Moyenne de points (match en 11) : n/A
                                        {% endif %}
                                        {% if player.matchAveragePointsOf21 != [] %}
                                            Moyenne de points (match en 21) : {{ player.matchAveragePointsOf21 }}
                                        {% else %}
                                            Moyenne de points (match en 21) : n/A
                                        {% endif %}
                                        </p>
                                    {% else %}

                                        <div class="row">
                                            <div class="col-12"><h5 class="card-title">Pour avoir accès au statistiques : </h5></div>
                                            <div class="col-2"></div>
                                            <div class="col-8 text-center mt-5 mb-5">
                                                <a href="{{ path('app_login') }}"
                                                   class="btn btn-primary btn-block text-white my-auto">Connexion</a>
                                            </div>
                                            <div class="col-2"></div>
                                        </div>


                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="raquette-tab"><div class="mt-3">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="card alert-warning">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9"><h1 class="card-title">
                                                Nouvelle Raquette d'or
                                            </h1>
                                            <p class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, neque.
                                            </p>
                                        </div>
                                        <div class="col-3 my-auto">
                                            <a href="{{ path('chooseP1') }}" class="btn btn-warning">Commencer une raquette d'or</a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Historique des matchs</h5>
                                    <hr>
                                    <div class="card-text">
                                        <div class="list-group {{ games|length>3 ? "dashboard" : "" }}">
                                            {% for game in games %}

                                                <div class="list-group-item list-group-item-action">
                                                    <div class="row">
                                                        <div class="col-md-9 ">

                                                            <a href="{# {{ path('detail',{'id':ticket.id}) }} #}">
                                                                <h5 class="mb-1">
                                                                    {% set show = 1 %}
                                                                    {% for jouer in jouers %}
                                                                        {% if jouer.game == game %}
                                                                            {{ jouer.player.fullName }}
                                                                            {% set show = show+1 %}
                                                                        {% endif %}
                                                                        {% if show == 2 %}
                                                                            VS
                                                                            {% set show = 0 %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    ( {{ game.scoreP1 }} - {{ game.scoreP2 }} )
                                                                </h5>
                                                            </a>

                                                            {# <p class="mb-1">{{ ticket.description  | u.truncate(50, '...', false) }}</p> #}
                                                            {# <small>Posté par <a
                                                                        href="{{ path('profil',{'id':ticket.user.id}) }}">{{ ticket.user.firstName }} {{ ticket.user.lastName }}</a>
                                                            </small> #}

                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="col-md-12 text-right">
                                                                {% set date = game.playedAt | date %}
                                                                <small class="">{{ date|ago }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% if allGames | length > 6 %}

                                                <div class="list-group-item list-group-item-action">
                                                    <div class="row">
                                                        <h5><a class="ml-3" href="{{ path('games') }}">Voir plus
                                                                >></a></h5>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    {% if app.user %}
                                        <h1 class="card-title">{{ player.fullName }}</h1>
                                        <p class="card-text">{% if player.matchWon != [] %}
                                                Victoires : {{ player.matchWon }}
                                            {% else %}
                                                Victoires : n/A
                                            {% endif %} |
                                            {% if player.matchLost != [] %}
                                                Défaites : {{ player.matchLost }}
                                            {% else %}
                                                Défaites : n/A
                                            {% endif %}

                                            <br>
                                            {% if player.matchPlayed != [] %}
                                                Match Joués : {{ player.matchPlayed }}
                                            {% else %}
                                                Match Joués : n/A
                                            {% endif %} |
                                            {% if player.matchRatio != [] %}
                                                Ratio G/P : {{ player.matchRatio }}
                                            {% else %}
                                                Ratio G/P : n/A
                                            {% endif %}
                                        <hr>
                                        {% if player.matchAveragePointsOf11 != [] %}
                                            Moyenne de points (match en 11) : {{ player.matchAveragePointsOf11 }}
                                        {% else %}
                                            Moyenne de points (match en 11) : n/A
                                        {% endif %}
                                        {% if player.matchAveragePointsOf21 != [] %}
                                            Moyenne de points (match en 21) : {{ player.matchAveragePointsOf21 }}
                                        {% else %}
                                            Moyenne de points (match en 21) : n/A
                                        {% endif %}
                                        </p>
                                    {% else %}

                                        <div class="row">
                                            <div class="col-12"><h5 class="card-title">Pour avoir accès au statistiques : </h5></div>
                                            <div class="col-2"></div>
                                            <div class="col-8 text-center mt-5 mb-5">
                                                <a href="{{ path('app_login') }}"
                                                   class="btn btn-primary btn-block text-white my-auto">Connexion</a>
                                            </div>
                                            <div class="col-2"></div>
                                        </div>


                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
