{% extends 'base.html.twig' %}

{% block title %}PingPong - Accueil{% endblock %}

{% block body %}
    <div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card alert-secondary">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-9 my-auto"><p class="card-text h5">Acceder aux Hall of Fame pour voir les meilleurs performances de chaque joueurs
                                </p></div>
                        <div class="col-2 "><a href="{{ path('leaderboard') }}" class="btn btn-secondary btn-block">Y aller ...</a></div>
                        <div class="col-1"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="matchs-tab" data-toggle="tab" href="#home" role="tab"
               aria-controls="home" aria-selected="true">Matchs</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tournois-tab" data-toggle="tab" href="#profile" role="tab"
               aria-controls="profile" aria-selected="false">Tournois</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="raquette-tab" data-toggle="tab" href="#contact" role="tab"
               aria-controls="contact" aria-selected="false">Raquette d'or</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="matchs-tab">
        <div class="mt-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card alert-success">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9"><h1 class="card-title">
                                        Nouveau Match
                                    </h1>
                                    <p class="card-text">
                                    </p>
                                </div>
                                <div class="col-3 my-auto">
                                    <a href="{{ path('choosePlayers') }}" class="btn btn-success">Commencer un
                                        match</a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Historique des matchs</h5>
                            <hr>
                            <div class="card-text">
                                <div class="list-group {{ games|length>3 ? "dashboard" : "" }}">
                                    {% for game in games %}
                                        <div class="list-group-item list-group-item-action">
                                            <div class="row">
                                                <div class="col-md-9 ">

                                                    <a href="{{ path('detail',{'id':game.id}) }}">
                                                        <h5 class="mb-1">
                                                            {% set show = 1 %}
                                                            {% for jouer in jouers %}
                                                                {% if jouer.game == game %}
                                                                    {% if jouer.isWinner == true and show == 1 %}
                                                                        <span class="badge badge-secondary"><i
                                                                                    class="fad fa-crown"></i></span>
                                                                    {% endif %}
                                                                    {{ jouer.player.fullName }}
                                                                    {% if jouer.isWinner == true and show == 0 %}
                                                                        <span class="badge badge-secondary"><i
                                                                                    class="fad fa-crown"></i></span>
                                                                    {% endif %}
                                                                    {% set show = show+1 %}
                                                                {% endif %}
                                                                {% if show == 2 %}
                                                                    <span class="badge badge-secondary">VS</span>
                                                                    {% set show = 0 %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            ( {{ game.scoreP1 }} - {{ game.scoreP2 }} )
                                                        </h5>
                                                    </a>

                                                    {# <p class="mb-1">{{ ticket.description  | u.truncate(50, '...', false) }}</p> #}
                                                    {# <small>Posté par <a
                                                                        href="{{ path('profil',{'id':ticket.user.id}) }}">{{ ticket.user.firstName }} {{ ticket.user.lastName }}</a>
                                                            </small> #}

                                                </div>

                                                <div class="col-md-3">
                                                    <div class="col-md-12 text-right">
                                                        {% set date = game.playedAt | date %}
                                                        <small class="">{{ date|ago }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% if allGames | length > 6 %}

                                        <div class="list-group-item list-group-item-action">
                                            <div class="row">
                                                <h5><a class="ml-3" href="{{ path('games') }}">Voir plus
                                                        >></a></h5>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            {% if app.user %}
                                <h1 class="card-title">{{ player.fullName }}</h1>
                                <p class="card-text">{% if player.matchWon != [] %}
                                        Victoires : {{ player.matchWon }}
                                    {% else %}
                                        Victoires : n/a
                                    {% endif %} |
                                    {% if player.matchLost != [] %}
                                        Défaites : {{ player.matchLost }}
                                    {% else %}
                                        Défaites : n/a
                                    {% endif %}
                                    <br>
                                    {% if player.matchPlayed != [] %}
                                        Match Joués : {{ player.matchPlayed }}
                                    {% else %}
                                        Match Joués : n/a
                                    {% endif %} |
                                    {% if player.matchRatio != [] %}
                                        Ratio G/P : {{ player.matchRatio | number_format(2, ',', ' ') }}
                                    {% else %}
                                        Ratio G/P : n/a
                                    {% endif %}
                                <hr>
                                {% if player.matchAveragePointsOf11 != [] %}
                                    Moyenne de points (match en 11) : {{ player.matchAveragePointsOf11 | number_format(2, ',', ' ') }}
                                {% else %}
                                    Moyenne de points (match en 11) : n/a
                                {% endif %}
                                {% if player.matchAveragePointsOf21 != [] %}
                                    Moyenne de points (match en 21) : {{ player.matchAveragePointsOf21 | number_format(2, ',', ' ') }}
                                {% else %}
                                    Moyenne de points (match en 21) : n/a
                                {% endif %}
                                </p>
                            {% else %}

                                <div class="row">
                                    <div class="col-12"><h5 class="card-title">Pour avoir accès au statistiques
                                            : </h5></div>
                                    <div class="col-2"></div>
                                    <div class="col-8 text-center mt-5 mb-5">
                                        <a href="{{ path('app_login') }}"
                                           class="btn btn-primary btn-block text-white my-auto">Connexion</a>
                                    </div>
                                    <div class="col-2"></div>
                                </div>


                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="tournois-tab">
        <div class="mt-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card alert-info">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9"><h1 class="card-title">
                                        Nouveau Tournoi
                                    </h1>
                                    <p class="card-text">

                                    </p>
                                </div>
                                <div class="col-3 my-auto">
                                    <a href="{{ path('selectNbT') }}" class="btn btn-info">Commencer un
                                        tournoi</a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Historique des tournois</h5>
                            <hr>
                            <div class="card-text">
                                <div class="list-group {{ tournaments|length>3 ? "dashboard" : "" }}">
                                    {% for tournament in tournaments %}

                                    <div class="list-group-item list-group-item-action">
                                        <div class="row">
                                            {% if app.user %}
                                            <div class="col-md-3 ">
                                                {% else %}
                                                <div class="col-md-6 ">
                                                    {% endif %}

                                                    <a href="{{ path('gridT',{'id':tournament.id}) }}">
                                                        <h5 class="mb-1">
                                                            Tournoi n°{{ tournament.id }}
                                                        </h5>
                                                    </a>
                                                </div>
                                                {% if app.user %}
                                                    <div class="col-md-3">
                                                        {% if tournament.finishedAt != null %}
                                                            {% for tournamentPlayer in tournamentPlayers %}
                                                                {% if tournament.id == tournamentPlayer.tournament.id %}
                                                                    {% if tournamentPlayer.rank == 1 %}
                                                                        <h5>
                                                                                                            <span class="badge badge-warning"><i
                                                                                                                        class="fad fa-trophy"></i> 1ère place</span>
                                                                        </h5>
                                                                    {% elseif tournamentPlayer.rank == 2 %}
                                                                        <h5>
                                                                                                            <span class="badge badge-secondary"><i
                                                                                                                        class="fad fa-medal"></i> 2ème place</span>
                                                                        </h5>
                                                                    {% elseif tournamentPlayer.rank == 3 %}
                                                                        <h5>
                                                                                                            <span class="badge badge-bronze"><i
                                                                                                                        class="fad fa-medal"></i> 3ème place</span>
                                                                        </h5>
                                                                    {% else %}
                                                                        <h5>
                                                                            <span class="badge badge-info">{{ tournamentPlayer.rank }}ème place</span>
                                                                        </h5>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                {% endif %}

                                                <div class="col-md-3">
                                                    <div class="col-md-12 text-right">
                                                        {% if tournament.finishedAt != null %}
                                                            <h5>
                                                                <span class="badge badge-pill badge-danger">Terminé</span>
                                                            </h5>
                                                        {% else %}
                                                            <h5>
                                                                <span class="badge badge-pill badge-info">En cours</span>
                                                            </h5>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="col-md-12 text-right">
                                                        {% set date = tournament.createdAt | date %}
                                                        <small class="">{{ date|ago }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% if allTournaments | length > 6 %}
                                            <div class="list-group-item list-group-item-action">
                                                <div class="row">
                                                    <h5><a class="ml-3" href="{{ path('tournaments') }}">Voir plus
                                                            >></a></h5>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                {% if app.user %}
                                    <h1 class="card-title">{{ player.fullName }}</h1>
                                    <p class="card-text">
                                        {% if player.tournamentPlayed != [] %}
                                            Nombre de tournois joués : {{ player.tournamentPlayed }}
                                        {% else %}
                                            Nombre de tournois joués : n/a
                                        {% endif %}
                                        <br>
                                        {% if player.tournamentWon != [] %}
                                            Victoires : {{ player.tournamentWon }}
                                        {% else %}
                                            Victoires : n/a
                                        {% endif %}
                                        <br>
                                        {% if player.tournamentAveragePlacement != [] %}
                                            Moyenne de placement : {{ player.tournamentAveragePlacement | number_format(2, ',', ' ') }}
                                        {% else %}
                                            Moyenne de placement : n/a
                                        {% endif %}
                                    </p>
                                {% else %}

                                    <div class="row">
                                        <div class="col-12"><h5 class="card-title">Pour avoir accès au statistiques
                                                : </h5></div>
                                        <div class="col-2"></div>
                                        <div class="col-8 text-center mt-5 mb-5">
                                            <a href="{{ path('app_login') }}"
                                               class="btn btn-primary btn-block text-white my-auto">Connexion</a>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>


                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="raquette-tab">
            <div class="mt-3">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="card alert-warning">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9"><h1 class="card-title">
                                            Nouvelle Raquette d'or
                                        </h1>
                                        <p class="card-text">
                                            
                                        </p>
                                    </div>
                                    <div class="col-3 my-auto">
                                        <a href="{{ path('selectNbG') }}" class="btn btn-warning">Commencer une
                                            raquette d'or</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Historique des Raquettes d'or</h5>
                                <hr>
                                <div class="card-text">
                                    <div class="list-group {{ goldenRackets|length>3 ? "dashboard" : "" }}">
                                        {% for goldenRacket in goldenRackets %}
                                        <div class="list-group-item list-group-item-action">
                                            <div class="row">
                                                {% if app.user %}
                                                <div class="col-md-4">
                                                    {% else %}
                                                    <div class="col-md-6">
                                                        {% endif %}

                                                        <a href="{{ path('gridG',{'id':goldenRacket.id}) }}">
                                                            <h5 class="mb-1">
                                                                Raquette d'or n°{{ goldenRacket.id }}
                                                            </h5>
                                                        </a>
                                                    </div>
                                                    {% if app.user %}
                                                        <div class="col-md-2">
                                                            {% if goldenRacket.finishedAt != null %}
                                                                {% for goldenRacketPlayer in goldenRacketPlayers %}
                                                                    {% if goldenRacket.id == goldenRacketPlayer.goldenRacket.id %}
                                                                        {% if goldenRacketPlayer.rank == 1 %}
                                                                            <h5>
                                                                                                            <span class="badge badge-warning"><i
                                                                                                                        class="fad fa-trophy"></i> 1ère place</span>
                                                                            </h5>
                                                                        {% elseif goldenRacketPlayer.rank == 2 %}
                                                                            <h5>
                                                                                                            <span class="badge badge-secondary"><i
                                                                                                                        class="fad fa-medal"></i> 2ème place</span>
                                                                            </h5>
                                                                        {% elseif goldenRacketPlayer.rank == 3 %}
                                                                            <h5>
                                                                                                            <span class="badge badge-bronze"><i
                                                                                                                        class="fad fa-medal"></i> 3ème place</span>
                                                                            </h5>
                                                                        {% elseif goldenRacketPlayer.rank == 999 %}
                                                                            <h5>
                                                                                <span class="badge badge-info">Non classé</span>
                                                                            </h5>
                                                                        {% else %}
                                                                            <h5>
                                                                                <span class="badge badge-info">{{ goldenRacketPlayer.rank }}ème place</span>
                                                                            </h5>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                    <div class="col-md-3">
                                                        <div class="col-md-12 text-right">
                                                            {% if goldenRacket.finishedAt != null %}
                                                                <h5>
                                                                    <span class="badge badge-pill badge-danger">Terminée</span>
                                                                </h5>
                                                            {% else %}
                                                                <h5><span class="badge badge-pill badge-warning">En cours</span>
                                                                </h5>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="col-md-12 text-right">
                                                            {% set date = goldenRacket.createdAt | date %}
                                                            <small class="">{{ date|ago }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% if allGoldenRackets | length > 6 %}

                                                <div class="list-group-item list-group-item-action">
                                                    <div class="row">
                                                        <h5><a class="ml-3" href="{{ path('goldenRackets') }}">Voir plus
                                                                >></a></h5>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    {% if app.user %}
                                        <h1 class="card-title">{{ player.fullName }}</h1>
                                        <p class="card-text">
                                            {% if player.goldenRacketPlayed != [] %}
                                                Nombre de Raquettes d'or joués : {{ player.goldenRacketPlayed }}
                                            {% else %}
                                                Nombre de Raquettes d'or joués : n/a
                                            {% endif %}
                                            <br>
                                            {% if player.goldenRacketWon != [] %}
                                                Victoires : {{ player.goldenRacketWon }}
                                            {% else %}
                                                Victoires : n/a
                                            {% endif %}
                                            <br>
                                            {% if player.goldenRacketAveragePlacement != [] %}
                                                Moyenne de placement : {{ player.goldenRacketAveragePlacement | number_format(2, ',', ' ') }}
                                            {% else %}
                                                Moyenne de placement : n/a
                                            {% endif %}
                                        </p>
                                    {% else %}

                                        <div class="row">
                                            <div class="col-12"><h5 class="card-title">Pour avoir accès au statistiques
                                                    : </h5></div>
                                            <div class="col-2"></div>
                                            <div class="col-8 text-center mt-5 mb-5">
                                                <a href="{{ path('app_login') }}"
                                                   class="btn btn-primary btn-block text-white my-auto">Connexion</a>
                                            </div>
                                            <div class="col-2"></div>
                                        </div>


                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}