{% extends 'base.html.twig' %}

{% block title %}PingPong - Jour {{ day }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card alert-warning">
            <div class="card-body">
                <h1 class="card-title">Matchs du jour {{ day }}</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="card-title">Matchs à jouer :</h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="card-text">
                                            <div class="list-group">
                                                {% for game in games %}
                                                    {% if game.day == day %}
                                                        <div class="list-group-item list-group-item-action">
                                                            <div class="row">
                                                                <div class="col-md-9 ">
                                                                    {% if goldenRacket.finishedAt != null %}
                                                                    <a class="text-decoration-none disabled">
                                                                        {% else %}
                                                                        <a href="{{ path('detail',{'id':game.id}) }}"
                                                                           class="text-decoration-none">
                                                                            {% endif %}

                                                                            <h5 class="mb-1">
                                                                                {% set show = 1 %}
                                                                                {% for jouer in jouers %}
                                                                                    {% if jouer.game == game %}
                                                                                        {% if jouer.isWinner == true and show == 1 %}
                                                                                            <span class="badge badge-secondary"><i
                                                                                                        class="fas fa-crown"></i></span>
                                                                                        {% endif %}
                                                                                        {{ jouer.player.fullName }}
                                                                                        {% if jouer.isWinner == true and show == 0 %}
                                                                                            <span class="badge badge-secondary"><i
                                                                                                        class="fas fa-crown"></i></span>
                                                                                        {% endif %}
                                                                                        {% set show = show+1 %}
                                                                                    {% endif %}
                                                                                    {% if show == 2 %}
                                                                                        <span class="badge badge-secondary">VS</span>
                                                                                        {% set show = 0 %}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                                ( {{ game.scoreP1 }}
                                                                                - {{ game.scoreP2 }} )
                                                                            </h5>
                                                                        </a>

                                                                        {# <p class="mb-1">{{ ticket.description  | u.truncate(50, '...', false) }}</p> #}
                                                                        {# <small>Posté par <a
                                                                        href="{{ path('profil',{'id':ticket.user.id}) }}">{{ ticket.user.firstName }} {{ ticket.user.lastName }}</a>
                                                            </small> #}
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="col-md-12 text-right">
                                                                        {% set date = game.playedAt | date %}
                                                                        <small class="">{{ date|ago }}</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}