<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/edc8d5fc95.js" crossorigin="anonymous"></script>
</head>
<body>
<h1>Bonjour {{ player.fullName }} !</h1>
<p>
    La raquette d'or n°{{ goldenRacket.id }} prend fin aujourd'hui après {{ days }} jours de compétition...
    <br>
    Voici les résultats :
</p>
    {% if leaderboard %}
        {% set count = 0 %}
        {% set winner = 0 %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Rang</th>
                <th scope="col">Nom du joueur</th>
                <th scope="col">Moy Pts/Match</th>
                <th scope="col">Nb matchs joués</th>
                <th scope="col">Nb matchs gagnés</th>
            </tr>
            </thead>
            <tbody>
            {% for player in leaderboard %}
                {% set count = count + 1 %}
                {% if count == 1 %}
                    {% set winner = player %}
                {% endif %}
                <tr>
                    <th scope="row">{{ count }}</th>
                    <td style="text-align: center">{{ player.fullName }}</td>
                    <td style="text-align: center">{% if leaderboardP[loop.index-1].pointsAverage %}
                            {{ leaderboardP[loop.index-1].pointsAverage | number_format(2, ',', ' ') }}
                        {% else %}
                            n/a
                        {% endif %}</td>
                    <td style="text-align: center">{% if leaderboardP[loop.index-1].nbGames %}
                            {{ leaderboardP[loop.index-1].nbGames }}
                        {% else %}
                            n/a
                        {% endif %}</td>
                    <td style="text-align: center">{% if leaderboardP[loop.index-1].nbGames %}
                            {% if leaderboardP[loop.index-1].ratioWL %}
                                {% set matchsWon = leaderboardP[loop.index-1].ratioWL * leaderboardP[loop.index-1].nbGames %}
                                {{ matchsWon }}
                            {% else %}
                                0
                            {% endif %}
                        {% else %}
                            n/a
                        {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h4>Felicitation au gagnant {{ winner.fullName }} !</h4>
    {% endif %}


</body>
</html>